.card{
    color: var(--textcolor);
    background-color: var(--interface);
    border: 3px solid var(--border);
    padding: 2vh;
    margin: 5vh 20vw;
  }
  
  .image{
    max-width: 100%;
    max-height: 100%;
  }
  
  #titles{
    text-align: center;
    text-decoration: underline;
  }